
h1 {
	text-align: center ;text-decoration : underline
	
}
button { text-align: right ;
padding: 3px 30px ;
margin-right: 20px;
}

h3 {
	margin-right: 10px;

}

body{

background-color:#ADD8E6}

h3 {
height: 5px;
    display:inline-block; 
     }

input[type="search"] {
  position: absolute;
  right: 0;
  margin-right: 70px;
}

 button:hover  {   
 transform: scale(1.06)
 }